<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderList</title>
</head>
<body>
    <div class="box">
 
        <% orders.forEach(function(item){ %>
          <form action="/operations/vendor/order/accept/:<%=item._id%>" method="post">
           <div class="item">
<<<<<<< HEAD
             <input type="checkbox" name = "checkbox" value="<%=item._id%> " onChange = "this.form.submit()">
             <p><%=  item.name  %></p>
             <p><%=  item.shopId  %></p>
             <p><%=  item.stock  %></p>
           </div>
          </form>
           
         <% }) %>
        </div>
</body>
=======
            <table>
              <tr>
                <td><p><%=  item.name  %></p></td>
                <td><p><%=  item.shopId  %></p></td>
                <td><p><%=  item.stock  %></p></td> 
                <td><input type="checkbox" name = "checkbox" value="<%=item._id%> " onChange = "this.form.submit()"></td>
              </tr>
            </table>       
         <% }) %>
        </div>
</body>

>>>>>>> 995748a98c8c388836ab52916b476302231a45e4
